<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Runway Unit Generator</title>
        <link rel="shortcut icon" href="../img/favicon.ico" />
        <meta name="description" content="GumGum Studio Unit Generator">
        <meta name="author" content="Myles O'Connor">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="../js/app.js"></script>
    </head>
    <body ng-app="AdGenerator" ng-cloak>
        <div class="container" ng-controller="RunwayGeneratorCtrl">
            <img class="logo" src="../img/logo.svg" />
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="studio.html">Studio</a></li>
                <li role="presentation" class="active"><a href="#">Runway</a></li>
                <li role="presentation"><a href="inscreen.html">In-Screen</a></li>
                <li role="presentation"><a href="canvas.html">Canvas</a></li>
                <li role="presentation"><a href="lightbox.html">Lightbox</a></li>
            </ul>
            <h1>Runway Unit Generator</h1>
            <ul>
                <li>Runway height is 120px</li>
                <li>Edit all Runway Hype files to click out (in appropriate areas) with: <code>openAd(hypeDocument, element, event);</code></li>
                <li>If there are three separate Hype files for 250, 400, and 600; Save as <kbd>runway250.hyperesources</kbd>, <kbd>runway400.hyperesources</kbd>, and <kbd>runway600.hyperesources</kbd></li>
                <li>If there is only one Hype file; Save as <kbd>runway.hyperesources</kbd></li>
                <li>Upload all .hyperesources folders to the same CDN directory</li>
            </ul>
            <hr>
            <form name="form">
                <div class="radio">
                    <label>
                        <input ng-model="runwayType" ng-change="setRunwayType()" type="radio" name="optionsRadios" value="three" checked>
                        Three Hype files
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input ng-model="runwayType" ng-change="setRunwayType()" type="radio" name="optionsRadios" value="one">
                        One Hype file
                    </label>
                </div>
                <div class="form-group">
                    <label>Paste CDN path to directory here:</label>
                    <input ng-model="pastedDirectoryPath" ng-change="formatPathInput()" type="url" class="form-control" placeholder="http://gumgum-content.s3.amazonaws.com/ads/com/gumgum/tests/runway_builder/00/" required>
                </div>
                <button type="submit" class="btn btn-default btn-primary" ng-click="generateRunwayMarkup()" ng-disabled="form.$invalid">Generate Runway Markup</button> 
            </form>
            <div ng-show="markupGenerated" class="generated-markup">
                <hr>
                <div class="form-group">
                    <label>Generated Runway Markup:</label>
                    <textarea class="form-control">{{ formattedRunwayMarkup }}</textarea>
                </div>
                <button class="btn btn-default" ng-click="resetForm()">Clear Results</button>
            </div>
        </div>
    </body>
</html>